{% extends "AmamaMelodyaBundle:templates:layout.html.twig" %}

{% block title %}Création de groupe{% endblock %}

{% block body %}
  <h3 class="text-center">Création de groupe</h3>

  <hr>

  <div>
    {{ form(formulaire) }}
  </div>
{% endblock %}