{% extends "AmamaMelodyaBundle:templates:layout_groupe.html.twig" %}

{% block title %}Groupe{% endblock %}

{% block body %}

  	 <h3 class="text-center"> {{groupe.nom}} </h3>
    <hr>
 
{% endblock %}
